<!-- Manifest usado apenas em modo debug.
     Observacao: o Flutter usa INTERNET aqui para hot reload e debug. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- A permissao INTERNET e necessaria durante o desenvolvimento.
         A ferramenta Flutter a utiliza para se comunicar com o aplicativo,
         definir pontos de interrupcao e executar o hot reload.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
