<!-- Manifest Android principal.
     Observacao: aqui ficam permissoes de camera/internet e ajustes da Activity. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Leitor QR Code"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- Usa o renderizador OpenGL para manter compatibilidade com emuladores. -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Define o tema Android aplicado a esta Activity assim que o processo
                 e iniciado. O tema aparece durante a inicializacao da interface Flutter
                 e continua definindo o fundo da janela depois do carregamento. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Nao apague os metadados abaixo.
             A ferramenta Flutter os utiliza para gerar GeneratedPluginRegistrant.java. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Necessario para consultar Activities capazes de processar texto. Consulte:
         https://developer.android.com/training/package-visibility e
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         O mecanismo Flutter utiliza esta configuracao em io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
