gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Nunca compartilhe publicamente o arquivo de chaves.
# Consulte https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
